<div class="menu">关于这个网页</div>
<div class="post">
    <p>欢迎来到『乱码周刊』
        <BR/>这里是我用来码字的地方
        <BR/>记录着我在生活里/电脑上/网络上发生的一些有趣的事情</p>
    <p>『乱码周刊』名字的由来
        <BR/>早几年一个ID为KF76的网友的博客叫乱码周刊
        <BR/>几年时光，这个博客早已销声匿迹
        <BR/>很是喜爱这个名字，就被我捡了起来</p>
    <p>这个网页是由<a href="http://hexo.io/" target="_blank">Hexo</a>生成并寄存在<a href="https://github.com/" target="_blank">GitHub</a>与<a href="https://gitcafe.com/" target="_blank">GitCafe</a>上
        <BR/>我是一个忠实的<a href="http://www.google.cn/intl/zh-CN/chrome/browser/" target="_blank">Chrome浏览器</a>重度用户
        <BR/>网页设计也不是我的专业
        <BR/>故本小站仅完美支持Chrome浏览器</p>
    <p>本站设置的字体：Source Code Pro Light，方正兰亭超细黑简体，华文细黑</p>
    <p>Background: <a href="http://subtlepatterns.com/swirl-2/" target="_blank">Swirl</a> by <a href="http://www.indexstudio.net/" target="_blank">Uday</a></p>    
    <div class="date">- Naog -</div>
</div>